script.
  $('#section-performances').on('change', function() {
    section_performance_data.sort(function(a, b) {
      return (a.profits > b.profits ? -1 : 1);
    })
    
    console.log('triggered update sections');
    console.log(section_performance_data);
    /* let width = (section_performance_data.length * 5) + 'em'; */
    /* $('#section-performances').css('width', width) */
    
    var section_performance_chart = AmCharts.makeChart('section-performances', {
      "theme": "none",
      "type": "serial",
    	"startDuration": 2,
      "dataProvider": section_performance_data,
      "graphs": [{
          "balloonText": "[[category]]: <b>[[value]]</b>",
          "fillColorsField": "color",
          "fillAlphas": 1,
          "lineAlpha": 0.1,
          "type": "column",
          "valueField": "profits"
      }],
      "depth3D": 15,
      "angle": 50,
      "chartCursor": {
          "categoryBalloonEnabled": false,
          "cursorAlpha": 0,
          "zoomable": false
      },
      "categoryField": "section_name",
      "categoryAxis": {
          "gridPosition": "start",
          "labelRotation": 45
      },
      "export": {
      	"enabled": false
      }
    });
  });
