script.
	let port_id = '#{portfolio.portfolio_id}';

	function precisionRound(number, precision) {
	  var factor = Math.pow(10, precision);
	  return Math.round(number * factor) / factor;
	}

	function updateAllPrices() {
		$.ajax({
			method: 'PUT',
			url: '/stocks/update-portfolio/' + port_id
		}).done(function (response) {
			console.log(response);
			let price_set = JSON.parse(response);

			$('.last-price').html(function() {
				let ticker = $(this).attr('ticker');
				return precisionRound(price_set[ticker], 2);
			});
			
			$('.gain-percent').html(function() {
				let ticker = $(this).attr('ticker');
				let purchasePrice = $(this).attr('buy-price');
				let gain = precisionRound((price_set[ticker] - purchasePrice) / purchasePrice * 100, 2);
				if(gain < 0)
					$(this).css('color', 'firebrick');
				else
					$(this).css('color', 'forestgreen');
				
				return gain;
			});
			
			$('.gain-absolute').html(function() {
				let ticker = $(this).attr('ticker');
				let purchasePrice = $(this).attr('buy-price');
				let gain = precisionRound(price_set[ticker] - purchasePrice, 2);
				if(gain < 0)
					$(this).css('color', 'firebrick');
				else
					$(this).css('color', 'forestgreen');
				
				return gain;
			});

			/* Update every 10 seconds */
			setTimeout(updateAllPrices, 10 * 1000);
		});
	}

	$(document).ready( function() {
		updateAllPrices()
	});
