script.
	let port_id = '#{portfolio.portfolio_id}';
	var portfolio_sections;
	var section_performance_data;
	var portfolio_performance_data;
	var num_updates = 0;

	function precisionRound(number, precision) {
	  var factor = Math.pow(10, precision);
	  return Math.round(number * factor) / factor;
	}

	function updateAllPrices() {
		console.log('making request')
		
		$.ajax({
			method: 'PUT',
			url: '/stocks/update-portfolio/' + port_id,
			contentType: 'application/json',
			dataType: 'json'
		}).done(function (response) {
			console.log(response)
			let price_set = response[0];
			
			if(num_updates % 2 === 0 && response[1].length !== 0) {
				portfolio_sections = response[1];
			  section_performance_data = []
			  
			  for(var i = 0; i < portfolio_sections.length; i++) {
			    var section = portfolio_sections[i];
			    section_performance_data.push({
			      'section_name': section.name,
			      'profits': section.profits,
			      'color': (section.profits > 0) ? 'forestgreen' : 'firebrick' 
			    });
			  }
				console.log(section_performance_data)
				
				$('#section-performances').trigger('change');
			
				portfolio_performance_data = response[2];
				$('#portfolio-performance').trigger('change');
				console.log('updated performance data');
			}

			$('.last-price').html(function() {
				let ticker = $(this).attr('ticker');
				return precisionRound(price_set[ticker], 2);
			});
			
			$('.gain-percent').html(function() {
				let ticker = $(this).attr('ticker');
				let purchasePrice = $(this).attr('buy-price');
				let gain = precisionRound((price_set[ticker] - purchasePrice) / purchasePrice * 100, 2);
				if(gain < 0)
					$(this).css('color', 'firebrick');
				else
					$(this).css('color', 'forestgreen');
				
				return gain;
			});
			
			$('.gain-absolute').html(function() {
				let ticker = $(this).attr('ticker');
				let purchasePrice = $(this).attr('buy-price');
				let gain = precisionRound(price_set[ticker] - purchasePrice, 2);
				if(gain < 0)
					$(this).css('color', 'firebrick');
				else
					$(this).css('color', 'forestgreen');
				
				return gain;
			});

			num_updates += 1;
			
			/* Update every 10 seconds */
			setTimeout(updateAllPrices, 30 * 1000);
		});
	}

	$(document).ready( function() {
		updateAllPrices();
	});
