extends index.pug

block header
	.jumbotron
		.row.text-center
			.col
				h1 Stock Market Simulator
				p.lead Whether you are a beginner or expert trader, you can use this platform to hone your skills.
				p.lead Good luck, and happy trading!