doctype html
html
	head
		title StockMarket
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
		//- link(rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all")
		script(defer src="/js/fontawesome-all.js")
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
			a.navbar-brand(href='/') StockMarket
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					if user
						li.nav-item
							a.nav-link(href='/stocks/') Stocks
						li.nav-item
							a.nav-link(href='#') Marketplace
						li.nav-item
							a.nav-link(href='#') Chat
				ul.navbar-nav
					if user
						li.nav-item.active
							a.nav-link(href='/users/logout') Logout
					else
						li.nav-item
							a.nav-link(href='/users/register') Register
						li.nav-item
							a.nav-link(href='/users/login') Login

		block header
		br
		.container
			!= messages('message', locals)
			//- show all errors
			if errors
				each error, i in errors
					div(class='alert alert-warning') #{error.msg}


		block content
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br


		footer.footer.page-footer
			.container-fluid
				.row.IEX-notice
					.col
						p.lead Data kindly provided for free by the IEX Developer Platform.
				.row
					.col
						p.lead.copyright-notice &copy; 2017 Copyright: Shoumyo Chakravort
		
		
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/bower_components/jquery-validation/dist/jquery.validate.min.js')
		script(src='/js/main.js')
		
		script(src="https://www.amcharts.com/lib/3/amcharts.js")
		script(src="https://www.amcharts.com/lib/3/serial.js")
		script(src="https://www.amcharts.com/lib/3/plugins/export/export.min.js")
		script(src="https://www.amcharts.com/lib/3/themes/light.js")

		block javascript
