extends index.pug

block content
	.container
		br
		h3 New Portfolio
		form(method='POST', action='/stocks/new-portfolio')
			.form-group
				label Portfolio Name
				input.form-control(name='name', type='text', value=name, placeholder='High Frequency Practice')
			.form-group
				label Portfolio Description
				textarea.form-control(name='description', type='text', value=description, placeholder='Practicing trading high-risk stocks at high frequency.')
			.form-group
				label Initial Captial
				input.form-control(name='capital', type='number', value=capital, placeholder='50000')
			br

			input.btn.btn-success(type='submit', value='Make Portfolio')
